<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Login</title>
    <!-- linkeo con la fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- linkeo de estilos -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/estilos.css">

</head>

<body>

    <header>
        <div class="cabecera">
            <div class="logo">
                <img src="/images/logo1.jpg" alt="Logo" />
            </div>
            <div class="contenedor">
                <div class="titulo">
                    <h1>Ejemplo de login</h1>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p><b>&copy;Derechos Reservados - Aldeir Aponte 2022</b></p>
    </footer>
    
</body>
</html>