/* HEADER Y NAV */
header {
    background-color: #333;
}

.cabecera {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    border-radius: 30px;
    width: 90%;
}

.contenedor {
    width: 100%;
}

.titulo h1 {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    text-shadow: 2px 4px 3px #b1b1b1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0 0 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 10px;
    margin: 0 0 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}

nav ul li a:hover {
    background-color: rgba(209, 209, 209, 0.534);
}

nav ul li a.activo {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* Footer */
footer {
    background-color: #333;
    text-align: center;
    font-style: italic;
    padding: 0.1rem 0;
    margin-top: 2rem;
}